body {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  background-image: url(../img/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}
nav {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "math";
}
.leftNav::after {
  content: "";
  display: block;
  position: absolute;
  width: 564px;
  left: 150px;
  top: 37px;
  border-bottom: 1.5px solid gray;
  z-index: 351351351351;
}

nav .leftNav {
  width: 25%;
  display: inline-block;
  position: relative;
}

nav .leftNav ul {
  list-style-type: none;
}

nav .rightNav {
  width: 55%;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(87 104 136 / 34%);
  backdrop-filter: blur(14px);
  height: 80px;
  text-align: center !important;
  margin-bottom: 0 !important;
}

nav .rightNav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  text-align: center !important;
  margin-bottom: 0 !important;
}
nav .rightNav ul li a.active::after {
  content: "" !important;
  display: block !important;
  width: 100% !important;
  height: 2px !important;
  background-color: #ffffff !important;
  margin-top: 15px !important;
}
nav a {
  text-decoration: none;
}
nav i {
  display: none !important;
  color: #ffff;
  font-size: 40px;
}
nav .rightNav ul li a {
  color: #fff;
  text-align: center !important;
  margin-top: 20px !important;
  margin-right: 25px;
  font-size: 20px;
  font-family: sans-serif;
  transform: scale(1, 1.3);
}
nav .rightNav ul li a:hover {
  color: rgb(55, 0, 236) !important;
}
.container {
  color: #ffffff;
  font-family: sans-serif;
}
.container .row .col-12 .title {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  transform: scale(1, 2);
}
#moonSection .col-12 .col-5 img {
  animation: rotate 4s linear infinite;
}
#marsSection .col-12 .col-5 img {
  animation: rotate 4s linear infinite;
}
#europaSection .col-12 .col-5 img {
  animation: rotate 4s linear infinite;
}
#titanSection .col-12 .col-5 img {
  animation: rotate 4s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.container .row .col-11 ul {
  padding-left: 0 !important;
  text-decoration: none !important;
  list-style-type: none !important;
  margin-right: 380px;
}

.container .row .col-11 ul li {
  text-decoration: none !important;
  color: #ffffff;
  margin-right: 20px;
  padding-left: 0 !important;
  text-decoration: none !important;
  list-style-type: none !important;
  cursor: pointer;
  position: relative;
}

.container .row .col-11 ul li.active::after {
  position: absolute;
  content: "" !important;
  display: block !important;
  width: 100% !important;
  height: 2px !important;
  background-color: #ffffff !important;
  margin-top: 15px !important;
}
.container .row ul li:hover {
  color: rgba(14, 5, 188, 0.944);
  transition: all 0.3s ease;
}
.container .row .col-12 .col-6 .col-8 ul a li {
  list-style-type: none;
  margin-right: 10px;
  transform: scale(1, 1.3);
}
.container .row .col-12 .col-6 .col-8 h5 {
  font-size: 72px;
  transform: scale(1, 2.5);
  font-family: initial;
  margin-top: 60px;
}
.container .row .col-12 .col-6 br {
  margin-top: 50px !important;
}
.container .row .col-12 .col-6 .col-8 .col-12 .description {
  line-height: 1.8 !important;
  text-align: justify;
}
#distance {
  line-height: 1.5 !important;
  font-family: serif !important;
  transform: scale(1, 1.2);
}

.hide {
  display: none !important;
}
#img {
  width: 75% !important;
}

/* <!-- sidebar --> */

#sidebar {
  color: rgb(226, 223, 223);
  text-align: left;
}

.offcanvas {
  color: black !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  background: url(../img/destination/background-destination-mobile.jpg) !important;
  background-size: cover !important;
  background-position: fixed !important;
  background-repeat: no-repeat !important;
}
.offcanvas-title {
  color: #5a5a5a;
}

/* <!-- end of sidebar --> */
/* ======================================== */

@media (max-width: 567px) {
  body {
    background-image: url(../img/destination/background-destination-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  nav {
    width: 100%;
    margin-top: 15px !important;
  }
  nav .rightNav {
    display: none !important;
  }
  .leftNav::after {
    display: none !important;
  }

  nav i {
    display: block !important;
    margin-right: 30px !important;
    font-size: 30px !important;
  }
  .container .row {
    display: flex;
    flex-wrap: wrap;
  }
  .container .row .col-11 {
    margin-bottom: 30px;
    width: 100% !important;
  }
  .container .row .col-11 ul {
    margin-right: 0px;
    margin-top: 37px;
  }
  .container .row .col-11 ul li {
    margin-right: 13px;
  }
  .container {
    width: 90% !important;
  }
  #card1 {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  #card2 {
    width: 100%;
    text-align: center;
  }
  #card2 .col-8 {
    width: 100%;
  }
  .container .row .col-12 .col-6 .col-8 .col-12 .description {
    line-height: 1.2;
  }
  .container .row .col-12 .title {
    font-size: 19px;
    margin-top: 35px !important;
  }

  .container .row .col-12 .col-6 .col-8 h5 {
    font-size: 40px;
  }
  #img {
    width: 95% !important;
  }
}

/* =========== */

@media (min-width: 568px) and (max-width: 1088px) {
  body {
    background-image: url(../img/destination/background-destination-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  nav .rightNav {
    display: none !important;
  }
  .leftNav::after {
    display: none !important;
  }

  nav i {
    display: block !important;
    margin-right: 60px !important;
    font-size: 30px !important;
  }
  .container .row {
    display: flex;
    flex-wrap: wrap;
  }
  .container .row ul {
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #card1 {
    width: 59%;
  }
  #card2 {
    width: 40%;
    text-align: center;
  }
  #card2 .col-8 {
    width: 100%;
  }
  .container .row .col-12 .col-6 .col-8 h5 {
    font-size: 60px;
  }
  #img {
    width: 85% !important;
  }
}

/*  */
@media (min-width: 1099px) and (max-width: 1299px) {
  body {
    background-image: url(../img/home/background-home-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  nav .rightNav ul li a {
    margin-right: 5px;
    font-size: 17px;
  }
  .leftNav::after {
    width: 335px;
  }

  nav i {
    display: none !important;
    margin-right: 60px !important;
    font-size: 30px !important;
  }
  nav .rightNav {
    width: 62%;
  }
}
